.container
{
    max-width: 50vw;
    min-height: 180px;

    display: flex;
    gap: 20px;
}

.col1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1vh;
    min-width: 40vw;
}

.col2 h1
{
    font-size: 1.6rem;
    animation: ease-in-out 2s;
    cursor: pointer;
}

.col2 h1:hover
{
    color: var(--yellow);
}

.col2 p
{
    font-size: 1rem;
}

.cardIndex
{
    font-size: 1.1rem;
    font-weight: 700;
}