.container
{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    max-width: 500px;
    text-align: center;
}

.container > p
{
    padding-top: 5px;
}

.formPrompt
{
    padding: 10px 0;
}

.formPrompt > p
{
    text-align: left;
    margin-left: 43px;
}

.promptInput
{
    border: 1px solid var(--yellow);
    border-radius: 6px;
    height: 30px;
    width: 300px;
    margin-right: 15px;
    padding-left: 5px;
}

.promptSubmit
{
    border: none;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    color: black;
    font-weight: 700;

    background-color: var(--yellow);
}