.Header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.HeaderLogo
{
    color: var(--yellow);
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}

.HeaderFollow
{
    border: none;
    border-radius: 10px;
    color: black;
    background-color: var(--yellow);
    font-weight: 700;
    font-family: JetBrains Mono, sans-serif;
    min-width: 150px;
    min-height: 40px;
    font-size: 1rem;
    cursor: pointer;
}

@media all and (max-width: 1000px) {
    
    .HeaderLogo
    {
        font-size: 1.2rem;
    }

    .HeaderFollow
    {
        min-width: 100px;
        min-height: 25px;
        font-size: .8rem;
    }

}