.LandingSocials
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
    padding-top: 3vh;
}

.LandingSocialsGithub, .LandingSocialsTwitter, .LandingSocialsTiktok,
.LandingSocialsLinkedin, .LandingSocialsYoutube
{
    color: white;
    width: 25px;
    height: auto;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background: none;
}

.LandingSocialsGithub:hover, .LandingSocialsTwitter:hover, .LandingSocialsTiktok:hover,
.LandingSocialsLinkedin:hover, .LandingSocialsYoutube:hover
{
    color: var(--yellow);
}
