.layout-footer
{
    font-family: Bergen Mono;
    color: #f7f7f7;

    background-color: #000000;

    display: flex;
    gap: 350px;
    justify-content: center;
    align-items: center;
}

.footer-copy
{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-copy > *
{
    font-size: 1.8rem;
    font-weight: 500;
}

.footer-follow
{
    max-width: 25vw;

    display: flex;
    flex-direction: column;

    gap: 6px;
}

#follow-newsletter-title
{
    font-size: .7rem;
}

.follow-agreement
{
    display: flex;
    gap: 10px;
}

.follow-newsletter-form
{
    display: flex;
    gap: 3px;
}

.follow-newsletter-form > input
{
    border: none;
    height: 40px;
    outline: none;
}

#newsletter-email-input
{
    width: 250px;

    padding: 10px auto;

    text-align: center;
}

::placeholder
{
   color: #000000;
   opacity: .75;
   font-weight: 700;
}

#submit-newsletter
{
    width: 100px;

    text-align: center;

    padding: 10px;

    background: linear-gradient(107.75deg, #37FFCF 0%, #387FEA 103.84%);

    color: #f7f7f7;
    font-weight: 700;
}

#follow-agreement-copy
{
    font-size: .6rem;
    max-width: 18vw;
}
